@import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background-color: rgb(10, 30, 49);
  color: white;
}

/* Customize scrollbar for WebKit browsers */
::-webkit-scrollbar {
  width: 10px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(51, 61, 72); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid #f1f1f1; /* Creates padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: transparent; /* Color of the scrollbar thumb when hovered */
}
